In [13]:
# imports
import pathlib
import pandas as pd
import numpy as np

In [65]:
# pandas settings
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 2)

In [3]:
# create dataframes
treatment_csv = pathlib.Path('test_data.csv')
treatment_df = pd.read_csv(treatment_csv)

In [4]:
# get columns
treatment_df.columns

Index(['age', 'gender', 'race', 'treatment', 'vote_registration'], dtype='object')

In [5]:
# create working copy
working_copy_df = treatment_df

In [10]:
# get values
working_copy_df.gender.unique()
working_copy_df.race.unique()
working_copy_df.treatment.unique()
working_copy_df.vote_registration.unique()

array(['Not Registered', 'Registered'], dtype=object)

In [51]:
#create age bins

bins = [-np.inf, 28, 44, 60, 70, 80, 97, 103, np.inf]
generation_label = ['Gen Z (Under 28)', 'Millennial (28-43)', 'Gen X (44-59)', 'Young Boomers (60-69)', 'Old Boomers (70-79)', 'Post-War (79-96)', 'WWII (97-102)', 'Depression and Older (103 and older)'  ]
working_copy_df['generation'] = pd.cut(working_copy_df['age'], bins=bins, labels=generation_label, right=False).cat.add_categories('missing').fillna('missing')

result = working_copy_df.groupby('generation').agg({'age': ['count', 'min', 'max']}) 
print(result)

                                         age
                                       count    min    max
generation
Gen Z (Under 28)                       72230   19.0   27.0
Millennial (28-43)                    212311   28.0   43.0
Gen X (44-59)                         165227   44.0   59.0
Young Boomers (60-69)                 101997   60.0   69.0
Old Boomers (70-79)                    50608   70.0   79.0
Post-War (79-96)                       32446   80.0   96.0
WWII (97-102)                           2699   97.0  102.0
Depression and Older (103 and older)     182  103.0  115.0
missing                                    0    NaN    NaN

/var/folders/48/pzsf5jjs0wj756yk19j79q0w0000gn/T/ipykernel_8255/3673792598.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = working_copy_df.groupby('generation').agg({'age': ['count', 'min', 'max']})

In [47]:
working_copy_df['age_quartile'] = pd.qcut(working_copy_df['age'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

working_copy_df['age_quartile'].value_counts()
result = working_copy_df.groupby('age_quartile').agg({'age': ['count', 'min', 'max']}) 
print(result)

                 age
               count min  max
age_quartile
Q1            169776  19   34
Q2            152973  35   47
Q3            161136  48   62
Q4            153815  63  115

/var/folders/48/pzsf5jjs0wj756yk19j79q0w0000gn/T/ipykernel_8255/1456331561.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = working_copy_df.groupby('age_quartile').agg({'age': ['count', 'min', 'max']})

In [52]:
pd.crosstab(working_copy_df.age_quartile, working_copy_df.generation)

generation,Gen Z (Under 28),Millennial (28-43),Gen X (44-59),Young Boomers (60-69),Old Boomers (70-79),Post-War (79-96),WWII (97-102),Depression and Older (103 and older)
age_quartile,,,,,,,,
Q1,72230,97546,0,0,0,0,0,0
Q2,0,114765,38208,0,0,0,0,0
Q3,0,0,127019,34117,0,0,0,0
Q4,0,0,0,67880,50608,32446,2699,182

In [66]:
# generations don't split evenly across quartiles, we'll use generation rather than quartile

pd.crosstab(working_copy_df.generation, working_copy_df.race)

working_copy_df['generation-sex-age'] = working_copy_df.generation.astype(str) + working_copy_df.gender.astype(str) + working_copy_df.race.astype(str)

result = working_copy_df.groupby('generation-sex-age').agg({'age': ['count', 'min', 'max']}) 
display(result)

                                                    age
                                                   count  min  max
generation-sex-age
Depression and Older (103 and older)FemaleAfric...     14  103  113
Depression and Older (103 and older)FemaleAsian         1  103  103
Depression and Older (103 and older)FemaleCauca...     89  103  115
Depression and Older (103 and older)MaleAfrican...      7  103  111
Depression and Older (103 and older)MaleCaucasian      64  103  115
Depression and Older (103 and older)MaleUncoded         2  105  106
Depression and Older (103 and older)UnknownAfri...      2  109  109
Depression and Older (103 and older)UnknownCauc...      3  108  115
Gen X (44-59)FemaleAfrican-American                 14784   44   59
Gen X (44-59)FemaleAsian                              852   44   59
Gen X (44-59)FemaleCaucasian                        74090   44   59
Gen X (44-59)FemaleHispanic                          4007   44   59
Gen X (44-59)FemaleNative American                    341   44   59
Gen X (44-59)FemaleUncoded                           4518   44   59
Gen X (44-59)MaleAfrican-American                    9016   44   59
Gen X (44-59)MaleAsian                                501   44   59
Gen X (44-59)MaleCaucasian                          40356   44   59
Gen X (44-59)MaleHispanic                            2708   44   59
Gen X (44-59)MaleNative American                      158   44   59
Gen X (44-59)MaleUncoded                             2285   44   59
Gen X (44-59)UnknownAfrican-American                 3547   44   59
Gen X (44-59)UnknownAsian                             842   44   59
Gen X (44-59)UnknownCaucasian                        5392   44   59
Gen X (44-59)UnknownHispanic                          532   44   59
Gen X (44-59)UnknownNative American                    30   44   59
Gen X (44-59)UnknownUncoded                          1268   44   59
Gen Z (Under 28)FemaleAfrican-American               2902   19   27
Gen Z (Under 28)FemaleAsian                           359   19   27
Gen Z (Under 28)FemaleCaucasian                     30790   19   27
Gen Z (Under 28)FemaleHispanic                       1772   19   27
Gen Z (Under 28)FemaleNative American                  78   19   27
Gen Z (Under 28)FemaleUncoded                        1911   19   27
Gen Z (Under 28)MaleAfrican-American                 1420   19   27
Gen Z (Under 28)MaleAsian                             171   19   27
Gen Z (Under 28)MaleCaucasian                       17997   19   27
Gen Z (Under 28)MaleHispanic                          876   19   27
Gen Z (Under 28)MaleNative American                    34   19   27
Gen Z (Under 28)MaleUncoded                           906   19   27
Gen Z (Under 28)UnknownAfrican-American              3115   19   27
Gen Z (Under 28)UnknownAsian                          457   19   27
Gen Z (Under 28)UnknownCaucasian                     7792   19   27
Gen Z (Under 28)UnknownHispanic                       517   19   27
Gen Z (Under 28)UnknownNative American                 29   19   27
Gen Z (Under 28)UnknownUncoded                       1104   19   27
Millennial (28-43)FemaleAfrican-American            13277   28   43
Millennial (28-43)FemaleAsian                         914   28   43
Millennial (28-43)FemaleCaucasian                   95683   28   43
Millennial (28-43)FemaleHispanic                     4844   28   43
Millennial (28-43)FemaleNative American               353   28   43
Millennial (28-43)FemaleUncoded                      6870   28   43
Millennial (28-43)MaleAfrican-American               5795   28   43
Millennial (28-43)MaleAsian                           479   28   43
Millennial (28-43)MaleCaucasian                     55567   28   43
Millennial (28-43)MaleHispanic                       2637   28   43
Millennial (28-43)MaleNative American                 143   28   43
Millennial (28-43)MaleUncoded                        3341   28   43
Millennial (28-43)UnknownAfrican-American            5854   28   43
Millennial (28-43)UnknownAsian                       1185   28   43
Millennial (28-43)UnknownCaucasian                  11752   28   43
Millennial (28-43)UnknownHispanic                     827   28   43
Millennial (28-43)UnknownNative American               75   28   43
Millennial (28-43)UnknownUncoded                     2715   28   43
Old Boomers (70-79)FemaleAfrican-American            3186   70   79
Old Boomers (70-79)FemaleAsian                        158   70   79
Old Boomers (70-79)FemaleCaucasian                  26726   70   79
Old Boomers (70-79)FemaleHispanic                     578   70   79
Old Boomers (70-79)FemaleNative American              121   70   79
Old Boomers (70-79)FemaleUncoded                      846   70   79
Old Boomers (70-79)MaleAfrican-American              2054   70   79
Old Boomers (70-79)MaleAsian                           87   70   79
Old Boomers (70-79)MaleCaucasian                    14269   70   79
Old Boomers (70-79)MaleHispanic                       447   70   79
Old Boomers (70-79)MaleNative American                 60   70   79
Old Boomers (70-79)MaleUncoded                        466   70   79
Old Boomers (70-79)UnknownAfrican-American            491   70   79
Old Boomers (70-79)UnknownAsian                       102   70   79
Old Boomers (70-79)UnknownCaucasian                   791   70   79
Old Boomers (70-79)UnknownHispanic                     65   70   79
Old Boomers (70-79)UnknownNative American              10   70   78
Old Boomers (70-79)UnknownUncoded                     151   70   79
Post-War (79-96)FemaleAfrican-American               1818   80   96
Post-War (79-96)FemaleAsian                            48   80   94
Post-War (79-96)FemaleCaucasian                     19548   80   96
Post-War (79-96)FemaleHispanic                        228   80   96
Post-War (79-96)FemaleNative American                  46   80   93
Post-War (79-96)FemaleUncoded                         404   80   96
Post-War (79-96)MaleAfrican-American                 1013   80   96
Post-War (79-96)MaleAsian                              39   80   91
Post-War (79-96)MaleCaucasian                        7992   80   96
Post-War (79-96)MaleHispanic                          164   80   96
Post-War (79-96)MaleNative American                    29   80   95
Post-War (79-96)MaleUncoded                           219   80   96
Post-War (79-96)UnknownAfrican-American               286   80   96
Post-War (79-96)UnknownAsian                           32   80   95
Post-War (79-96)UnknownCaucasian                      496   80   96
Post-War (79-96)UnknownHispanic                        18   80   92
Post-War (79-96)UnknownNative American                  3   83   87
Post-War (79-96)UnknownUncoded                         63   80   96
WWII (97-102)FemaleAfrican-American                   193   97  102
WWII (97-102)FemaleAsian                                4  100  100
WWII (97-102)FemaleCaucasian                         1477   97  102
WWII (97-102)FemaleHispanic                            40   98  100
WWII (97-102)FemaleNative American                      2   97  100
WWII (97-102)FemaleUncoded                             54   97  100
WWII (97-102)MaleAfrican-American                      91   97  102
WWII (97-102)MaleAsian                                  5   97  101
WWII (97-102)MaleCaucasian                            589   97  102
WWII (97-102)MaleHispanic                              10   99  102
WWII (97-102)MaleNative American                        2  100  100
WWII (97-102)MaleUncoded                               20   98  101
WWII (97-102)UnknownAfrican-American                   79   97  102
WWII (97-102)UnknownAsian                               4   98  100
WWII (97-102)UnknownCaucasian                         114   97  102
WWII (97-102)UnknownHispanic                            7  100  100
WWII (97-102)UnknownUncoded                             8   97  100
Young Boomers (60-69)FemaleAfrican-American          6919   60   69
Young Boomers (60-69)FemaleAsian                      369   60   69
Young Boomers (60-69)FemaleCaucasian                52183   60   69
Young Boomers (60-69)FemaleHispanic                  1549   60   69
Young Boomers (60-69)FemaleNative American            254   60   69
Young Boomers (60-69)FemaleUncoded                   2047   60   69
Young Boomers (60-69)MaleAfrican-American            4717   60   69
Young Boomers (60-69)MaleAsian                        233   60   69
Young Boomers (60-69)MaleCaucasian                  27545   60   69
Young Boomers (60-69)MaleHispanic                    1093   60   69
Young Boomers (60-69)MaleNative American              118   60   69
Young Boomers (60-69)MaleUncoded                      997   60   69
Young Boomers (60-69)UnknownAfrican-American         1079   60   69
Young Boomers (60-69)UnknownAsian                     273   60   69
Young Boomers (60-69)UnknownCaucasian                2077   60   69
Young Boomers (60-69)UnknownHispanic                  178   60   69
Young Boomers (60-69)UnknownNative American            16   60   69
Young Boomers (60-69)UnknownUncoded                   350   60   69

In [75]:
# naive count
pd.crosstab(working_copy_df['treatment'], working_copy_df['vote_registration'])

vote_registration  Not Registered  Registered
treatment
Control                244896        143478
Message A               77887         46771
Message B               78214         46454

In [93]:
table = pd.crosstab(
    working_copy_df['generation'], 
    [working_copy_df.treatment, working_copy_df.vote_registration], #columns
    margins=True, # give subtotals
    margins_name = "Beastie Boys"

)
display(table)

treatment                               Control                  Message A                 Message B               Beastie Boys
vote_registration                    Not Registered Registered Not Registered Registered Not Registered Registered
generation
Gen Z (Under 28)                          33049        10820        10715         3487        10667         3492       72230
Millennial (28-43)                        88342        41036        28169        13277        28198        13289      212311
Gen X (44-59)                             62046        38499        19741        12686        19649        12606      165227
Young Boomers (60-69)                     33110        29240        10257         9468        10519         9403      101997
Old Boomers (70-79)                       15604        15096         4990         5009         5063         4846       50608
Post-War (79-96)                          11580         8173         3657         2658         3728         2650       32446
WWII (97-102)                              1101          574          331          171          365          157        2699
Depression and Older (103 and older)         64           40           27           15           25           11         182
Beastie Boys                             244896       143478        77887        46771        78214        46454      637700